/* You can add global styles to this file, and also import other style files */

.list-table {

}
.list-table-row td {

}
.list-table-row {
}
.list-table-row {
  border: solid thin #eceeef;
}
.list-table-row-detail {
  border-bottom: none;
}
.pic-detail {
  border-bottom: solid thin #eceeef;
}


